.about{
    margin-top: 102px;
    .about__left{
        margin-left: 5px;
        img{
            width: 640px;
            height: 700px;
            object-fit: cover;
        }
    }
    .about__right{
        margin-left: 152px;
        width: 100%;
        .about__text{
            width: 640px;
            margin-bottom: 70px;
            line-height: 24px;
        }
        .about__video{
                display: flex;
                align-items: center;
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin-right: 18px;
            }
        }
    }
}
.about-desc{
    background: #2E2E2E;
    padding: 100px 0;
    .about-desc__wrapper{
        display: flex;
        justify-content: center;
        .about-desc__item{
            width: 316px;
            display: flex;
            margin-right: 100px;
            .left{
                width: 1px;
                height: 87px;                
                background: #FFFFFF;
                margin-right: 31px;
            }
            .right{
                h3{
                    color: #FFFFFF;
                }
                .text{
                    font-size: 16px;
                    line-height: 24px;                        
                    color: #DCDCDC;
                    margin-top: 23px;
                }
            }
        }
    }
}