.contacts{
    margin-top: 100px;
    margin-bottom: 100px;
    .contacts___left{
        width: 560px;
        h3 {
            margin-bottom: 12px;
        }
        span{
            font-size: 16px;
        }
        .left__wrap{
            margin-top: 50px;
            margin-bottom: 33px;            
        }
        .contacts__btn {
            margin-top: 103px;
            display: flex;
            .btn{
                width: 220px;
            }
            .contacts__line {
                margin: auto 0 auto 24px;
                height: 1px;
                width: 44px;
                background: #2E2E2E;
            }
        }
    }
    .contacts___right{
        width: 904px;
    }
    
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    background-color: #7c7c7c;
}